---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "PhD Candidate in Computational Physics studying multicellular network formation",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About Me</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi! I am Suraj Sahu, a PhD Candidate in the Gopinathan Lab at University of California Merced.
			I am a computational physicist by training and I am interested in understanding the intricacies of how life works.
		</p>
		<p>
			I am motivated by the processes of self-organization and how that makes life so beautiful.
			My research focuses on how physical interactions between cells and with their surrounding extracellular matrix (ECM)
			lead to formation and remodeling of multicellular networks, such as blood vascular development.
		</p>
		<p>
			Before joining UC Merced, I completed my Masters from National Institute of Technology.
		</p>
		<h2 class="mt-8 text-xl">Research Interests</h2>
		<ul class="list-inside list-disc" role="list">
			<li>Computational Physics</li>
			<li>Self-organization in biological systems</li>
			<li>Multicellular network formation</li>
			<li>Blood vascular development</li>
			<li>Cell-ECM interactions</li>
		</ul>
	</div>
</PageLayout>
